

.biz-index-header {
    position: sticky;
    top: 0px;
}

.best-text {
    font-family: $inter;
    font-weight: bolder;
    font-size: 1.5em;
    margin-top: 1em;
    margin-left: 1.5em;
}

.map-placeholder {
    position: fixed;
    width: 30%;
    height: 100%;
    right: 0;
    top: 10vh;
    border: 2px solid black;
    background-color: lightgreen;
}

.biz-index-container {
    width: 100%;
    height: 100%;
    display: flex;
    font-family: $inter;
}

.biz-ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30%;
}

.biz-li {
    padding: 1em;
    border: 1px solid darkgray;
    border-radius: 4px;
    margin-top: 2em;
    width: 80%;
    height: 30vh;
    display: flex;
    transition: box-shadow 0.2s;

    &:hover {
        cursor: pointer;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .biz-image {
        height: 100%;
        width: 30%;

        img {
            height: 100%;
            width: 100%;
            border-radius: 4px;
            object-fit: cover;
        }
    }

    .biz-info {
        display: flex;
        flex-direction: column;
        margin-left: 5%;
        justify-content: space-around;

        h1 {
            font-weight: bold;
            font-size: 1.5em;
        }

        .rating {
            color: $spicy-red;
            font-size: 1.5em;
        }

        p {
            color: #949494;
        }
    }
}