.review-form-container {
    display: flex;
    flex-direction: column;
    margin-right: 25%;
    margin-left: 25%;
    font-family: $inter;

    h2 {
        margin-block: 1em;
        font-weight: bold;
        font-size: 30px;
    }
}

.review-form {

    .review-inputs {
        border: 1px solid grey;
        border-radius: 4px;
        padding: 1.5em;
        height: 50vh;

        .rating-inputs {
            display: flex;
            align-items: center;

            input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 1.85em;
                width: 1.85em;
            }

            input, span {
                padding-inline: 1px;
            }

            span {
                height: 100%;
                width: 100%;
                font-size: 1.85em;
            }

            h6 {
                font-size: 0.8em;
                margin-left: 5px;
            }

            .red {
                color: $spicy-red;
            }

            .grey {
                color: #bfbfbf;
            }
        }

        textarea {
            font-family: $inter;
            font-size: 15px;
            resize: none;
            margin-top: 20px;
            width: 90%;
            height: 85%;
            border: none;
            outline: none;
        }
    }

    button {
        background-color: $spicy-red;
        color: white;
        font-weight: bold;
        border-radius: 4px;
        height: 2.5em;
        border: $spicy-red;
        width: 150px;
        margin-block: 2em;

        &:hover {
            cursor: pointer;
        }
    }
}