@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');
$inter: 'Inter', sans-serif;

$earth-brown: #ad5f15;
$spicy-red: #e60000;

// body {
//     background-color: aqua;
// }

// .app {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
// }
