body {
    background-color: aqua;
}

.nav-bar {
    background-color: red;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
}

.auth-links {
    display: flex;
    background-color: yellow;
}

.logged-in {
    display: flex;
    background-color: green;
}