@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');
$inter: 'Inter', sans-serif;

$earth-brown: #ad5f15;
$spicy-red: #e60000;

.session-header{
    display: flex;
    width: 100%;
    background-color: $earth-brown;
    justify-content: center;

    .session-logo {
        color: white;
        font-size: 2.75em;
        padding: 0.25em;  
        font-family: $inter;
        font-weight: bold;
        
        &:hover {
            cursor: pointer;
        }
    }
}

.session-outer-div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

    & input {
        border-radius: 4px;
        border: 1px solid gray;
    }
}

.session-form-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    height: 50vh;
    justify-content: center;
    padding-top: 10vh;
    font-family: $inter;

    & h3 {
        padding-bottom: 0.8em;
        font-size: 0.75em;
        padding-top: 5px;
    }

    & > p {
        font-size: 0.85em;
    }

    & > .signup-title {
        padding-bottom: 0.8em;
    }

    & > h1 {
        color: $spicy-red;
        font-weight: bold;
        font-size: 1.25em;
    }

    & button {
        width: 100%;

        &:hover {
            cursor: pointer;
        }
    }
}

.signup-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 45vh;
    justify-content: center;
    padding-top: 12vh;
    font-family: $inter;

    & > p {
        font-size: 0.85em;
    }

    // & > .signup-title {
    //     padding-bottom: 0.8em;
    // }

    & > h1 {
        color: $spicy-red;
        font-weight: bold;
        font-size: 1.25em;
    }

    & h3 {
        padding-bottom: 0.8em;
        font-size: 0.75em;
        padding-top: 5px;
    }

    & button {
        width: 100%;

        &:hover {
            cursor: pointer;
        }
    }

    .demo-btn{
        padding-bottom: 10px;
        padding-top: 10px;
    }
}

.session-form {
    display: flex;
    flex-direction: column;
    height: 8em;
    justify-content: space-evenly;
    width: 100%;

    button {
        margin-top: 10px;
    }

    & input {
        height: 2em;
    }
}

.signup-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 70em;
    width: 100%;
    padding-bottom: 0.5em;

    & input {
        height: 2em;
    }

    .signup-input {
        margin-bottom: 10px;
    }

    .name-inputs-container {
        display: flex;
        justify-content: space-between;

        input {
            width: 47.25%;
        }
    }

    .birthday {
        display: flex;
        flex-direction: column;
        padding-bottom: 0.85em;

        input:hover {
            cursor: pointer;
        }
    }   
}

.session-btn {
    background-color: $spicy-red;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    height: 2.5em;
    border: $spicy-red;

    &:hover {
        cursor: pointer;
    }
}

.demo-btn {
    background-color: $spicy-red;
    font-weight: bold;
    color: white;
    border: $spicy-red;
    border-radius: 4px;
    height: 2.5em;
    margin-bottom: 4px;

    &:hover {
        cursor: pointer;
    }
}

.login-error {
    color: red;
    color: red;
    font-size: 0.75em;
}

.auth-container {
    display: flex;
    justify-content: space-around;
}

.auth-photo {
    width: 100%;
    background-image: image-url('signup_illustration.png');
    background-repeat: no-repeat;
    position: relative;
    top: 3em;
}